<!DOCTYPE html>
<html lang="en">
  <head>
	<%include head %>
    <title>Login</title>
	 <link href="/static/css/login.css" rel="stylesheet">
  </head>

  <body background="/static/img/background.jpg">
    <div class="container">
		<div class="row">
			<div class="col-md-12"   >
    			<h3 style="text-align:center; color:white">Welcome to WebPerfAnalyst</h3>
				<hr class="featurette-divider">	
				  <form class="form-signin" role="form" method="post" action="/login">
					<p class="bg-danger"><%= message %></p>
					<input type="email" name="username" class="form-control" placeholder="Email" required autofocus>
					<input type="password" name="password" class="form-control" placeholder="Password" required>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				  </form>
			</div>
		</div>
    
	</div> <!-- /container -->
  </body>
</html>
