<!DOCTYPE html>
<html lang="en">
  
  <head>
	<link rel="stylesheet" href="/static/jvectormap/1.2.2/jquery-jvectormap-1.2.2.css" type="text/css" media="screen"/>
	<% include head %>
    <title>Page response heatmap</title>
  </head>
  
  <body>	
	
	<% include nav %>
	<div class="container-lg">
				<div class="row">
			<div class="col-md-12"   >
    			<h3>Page Response Heatmap</h3>
				<hr class="featurette-divider">
    			<form id="form" class="form-inline" role="form">
					
					<div class="form-group">
						<label for="fun" class="control-label">Select</label>
						<select class="form-control" name="fun" id="interval">
							<option value="$avg">Average</option>
							<option value="$min">Minimum</option>
							<option value="$max">Maximum</option>
							<option value="$sum">Sum</option>
						</select>
					</div>

					<div class="form-group">
						<label for="field" class="control-label">Of</label>
						<select class="form-control" name="field" id="field">
							<option value="tt">Total Time</option>
							<option value="rd">Redirector Time</option>
							<option value="dns">DNS Time</option>
							<option value="con">Connection Time</option>
							<option value="rq">FirstByte Time</option>
							<option value="st">Server Time</option>
							<option value="rs">Download Time</option>
							<option value="dom">DOM Time</option>
							<option value="ld">Load Time</option>
							<option value="cnt">Transactions</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="fromTs" class="control-label">Where  FromTime</label>
						<input type="text" class="form-control" name="fromTs" id="fromTs" value="<%= moment().format('YYYY-MM-DD') %>">
					</div>
   
                  <div class="form-group">
    				  <label for="toTs" class="control-label">ToTime</label>
    				  <input type="text" class="form-control" name="toTs" id="toTs" value="<%= moment().format('YYYY-MM-DD') %>">
                  </div>
				  
				  <div class="form-group">
						<label for="pg" class="control-label">Page</label>
						<input type="text" class="form-control" style="width:360px" name="pg" id="pg" value="all">
                  </div>
				  
    			  <button type="submit" class="btn btn-primary">Show</button>
                </form>
            </div>
		</div>
		
		<div class="row">
			<div class="col-md-12"   >
				<hr class="featurette-divider">
				<div id="world-map" style="height: 400px"></div>
			</div>
		</div> <!-- row -->
		<script src="/static/jvectormap/1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="/static/jvectormap/1.2.2/jquery-jvectormap-world-mill-en.js"></script>
		<script type="text/javascript" language="javascript" src="/static/js/page-response-heatmap.js"></script>
    </div> <!-- end container -->
	
  </body>
</html>