<!DOCTYPE html>
<html lang="en">
  
  <head>
	<% include head %>
    <title>Page Response Query</title>
	<link href="static/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
  </head>
  
  <body>	
	<% include nav %>
	<div class="container">
		<div class="row">
			<div class="col-md-12"   >
    			<h3>Page Response Time Query</h3>
				<hr class="featurette-divider">
    			<form id="form" class="form-inline" role="form">
                  <div class="form-group">
    				  <label for="fromTs" class="control-label">From Time</label>
                      <input type="text" class="form-control" name="fromTs" id="fromTs" value="<%= moment().format('YYYY-MM-DD') %>">
                  </div>
   
                  <div class="form-group">
    				  <label for="toTs" class="control-label">To Time</label>
    				  <input type="text" class="form-control" name="toTs" id="toTs" value="<%= moment().format('YYYY-MM-DD') %>">
                  </div>
    			  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
		</div>
		
		<div id="tableChartDiv" style="display:none">
    		<div class="row">
				<hr class="featurette-divider">
				<div class="col-md-12"   >
					<p class="alert alert-info" id="tableTypeHeading"></p>
				</div>
              
        	   <div class="col-md-12"   >
            		<table class="table table-bordered display" id="dataTable">
            			<thead>
            				<tr>
            					<th>Page</th>
        						<th>Country</th>
            					<th>Time</th>
            					<th>Count</th>
            					<th>Total</th>
        						<th>Redirect</th>
        						<th>DNS</th>
        						<th>Connection</th>
        						<th>Server</th>
        						<th>Download</th>
        						<th>DOM</th>
        						<th>Load</th>
        						<th>TableType</th>
            				</tr>
            			</thead>
            			<tbody>
            			</tbody>
            		</table>
    			</div>
          	 </div> <!-- end row -->
		 
		 <div class="row">
	       <hr class="featurette-divider">
    	   <div class="col-md-12"   >
    			<div  style="height:400px" id="chartDiv">
     			</div>
           </div>
      	 </div>
		 
       </div> 
	   
    </div> <!-- end container -->
	
	<script type="text/javascript" charset="utf8" src="/static/jquery.dataTables/1.9.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/jquery.dataTables/1.9.4/js/dataTables.fnReloadAjax.js"></script>
    <script type="text/javascript" language="javascript" src="/static/flot-0.8.2/jquery.flot.min.js"></script>
	<script type="text/javascript" language="javascript" src="/static/flot-0.8.2/jquery.flot.tickrotor.js"></script>
	<script type="text/javascript" language="javascript" src="/static/flot-0.8.2/jquery.flot.time.min.js"></script>
	<script type="text/javascript" language="javascript" src="/static/flot-0.8.2/jquery.flot.categories.min.js"></script>
	<script type="text/javascript" language="javascript" src="/static/flot-0.8.2/jquery.flot.stack.min.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/moment-2.5.1.min.js"></script>
	<script type="text/javascript" language="javascript" src="/static/js/page-response-query.js"></script>
	
  </body>
</html>