<!DOCTYPE html>
<html lang="en">
  
  <head>
	<% include head %>
    <title>Page Response Query</title>
  </head>
  
  <body>	
	<% include nav %>
	<div class="container">
    </div> <!-- end container -->
  </body>
  
</html>